@model Profile
@{
    ViewData["Title"] = "Confirm UserProfile";

}
<h2 class="fw-semibold">Confirm User Deletion</h2>
<div class="alert alert-danger" role="alert">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Delete" method="post">
                <input type="hidden" asp-for="Id" />
                <p>Are you sure you want to delete <strong class="text-danger">@Model.FullName</strong> profile?</p>
                <div class="mt-3">
                    <button type="submit" class="btn btn-danger rounded-pill">Delete</button>
                    <a asp-action="Index" class="btn btn-outline-secondary rounded-pill">Cancel</a>
                </div>
            </form>
        </div>
    </div>
